<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generalnetdisk.mappers.UserInfoMapper">

	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.generalnetdisk.entity.po.UserInfo">

		<!-- 用户ID -->
		<id property="userId" column="user_id" />

		<!-- 昵称 -->
		<result property="nickName" column="nick_name" />

		<!-- 邮箱 -->
		<result property="email" column="email" />

		<!-- qqOpenId -->
		<result property="qqOpenId" column="qq_open_id" />

		<!-- qq头像 -->
		<result property="qqAvatar" column="qq_avatar" />

		<!-- 密码 -->
		<result property="password" column="password" />

		<!-- 加入时间 -->
		<result property="joinTime" column="join_time" />

		<!-- 最后登录时间 -->
		<result property="lastLoginTime" column="last_login_time" />

		<!-- 0:禁用 1:启用 -->
		<result property="status" column="status" />

		<!-- 使用空间单位 byte -->
		<result property="userSpace" column="user_space" />

		<!-- 总空间 -->
		<result property="totalSpace" column="total_space" />

	</resultMap>

	<!-- 通用查询列 -->
	<sql id="base_column_list">
		user_id,nick_name,email,qq_open_id,qq_avatar,password,join_time,last_login_time,status,user_space,total_space
	</sql>

	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<where>
			<if test="query.userId != null and query.userId != ''">
				and id = #{query.userId}
			</if>
			<if test="query.nickName != null and query.nickName != ''">
				and id = #{query.nickName}
			</if>
			<if test="query.email != null and query.email != ''">
				and id = #{query.email}
			</if>
			<if test="query.qqOpenId != null and query.qqOpenId != ''">
				and id = #{query.qqOpenId}
			</if>
			<if test="query.qqAvatar != null and query.qqAvatar != ''">
				and id = #{query.qqAvatar}
			</if>
			<if test="query.password != null and query.password != ''">
				and id = #{query.password}
			</if>
			<if test="query.joinTime != null ">
				and id = #{query.joinTime}
			</if>
			<if test="query.lastLoginTime != null ">
				and id = #{query.lastLoginTime}
			</if>
			<if test="query.status != null ">
				and id = #{query.status}
			</if>
			<if test="query.userSpace != null ">
				and id = #{query.userSpace}
			</if>
			<if test="query.totalSpace != null ">
				and id = #{query.totalSpace}
			</if>
		</where>
	</sql>

	<!-- 扩展查询条件 -->
	<sql id="base_query_condition_extend">
		<where>
			<if test="query.userIdFuzzy != null and query.userIdFuzzy != ''">
				and user_id like concat('%', #{query.userIdFuzzy}, '%')
			</if>
			<if test="query.nickNameFuzzy != null and query.nickNameFuzzy != ''">
				and nick_name like concat('%', #{query.nickNameFuzzy}, '%')
			</if>
			<if test="query.emailFuzzy != null and query.emailFuzzy != ''">
				and email like concat('%', #{query.emailFuzzy}, '%')
			</if>
			<if test="query.qqOpenIdFuzzy != null and query.qqOpenIdFuzzy != ''">
				and qq_open_id like concat('%', #{query.qqOpenIdFuzzy}, '%')
			</if>
			<if test="query.qqAvatarFuzzy != null and query.qqAvatarFuzzy != ''">
				and qq_avatar like concat('%', #{query.qqAvatarFuzzy}, '%')
			</if>
			<if test="query.passwordFuzzy != null and query.passwordFuzzy != ''">
				and password like concat('%', #{query.passwordFuzzy}, '%')
			</if>
			<if test="query.joinTimeStart != null and query.joinTimeStart != ''">
				<![CDATA[ and join_time >= str_to_date(#{query.joinTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.joinTimeEnd != null and query.joinTimeEnd != ''">
				<![CDATA[ and join_time < date_sub(str_to_date(#{query.joinTimeEnd}, '%Y-%m-%d'), interval -1 day) ]]>
			</if>
			<if test="query.lastLoginTimeStart != null and query.lastLoginTimeStart != ''">
				<![CDATA[ and last_login_time >= str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastLoginTimeEnd != null and query.lastLoginTimeEnd != ''">
				<![CDATA[ and last_login_time < date_sub(str_to_date(#{query.lastLoginTimeEnd}, '%Y-%m-%d'), interval -1 day) ]]>
			</if>
		</where>
	</sql>

	<!-- 通用查询条件 -->
	<sql id="query_condition">
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
	</sql>
	<!-- 查询列表 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM user_info <include refid="query_condition"/>
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>

	<!-- 查询数量 -->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM user_info<include refid="query_condition"/>
	</select>

	<!-- 单条插入 -->
	<insert id="insert" parameterType="com.generalnetdisk.entity.po.UserInfo">
		INSERT INTO user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.nickName != null">
				nick_name,
			</if>
			<if test="bean.email != null">
				email,
			</if>
			<if test="bean.qqOpenId != null">
				qq_open_id,
			</if>
			<if test="bean.qqAvatar != null">
				qq_avatar,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.joinTime != null">
				join_time,
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.userSpace != null">
				user_space,
			</if>
			<if test="bean.totalSpace != null">
				total_space,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.nickName != null">
				#{bean.nickName},
			</if>
			<if test="bean.email != null">
				#{bean.email},
			</if>
			<if test="bean.qqOpenId != null">
				#{bean.qqOpenId},
			</if>
			<if test="bean.qqAvatar != null">
				#{bean.qqAvatar},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.joinTime != null">
				#{bean.joinTime},
			</if>
			<if test="bean.lastLoginTime != null">
				#{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.userSpace != null">
				#{bean.userSpace},
			</if>
			<if test="bean.totalSpace != null">
				#{bean.totalSpace},
			</if>
		</trim>
	</insert>

	<!-- 单条插入或更新（匹配有值的字段） -->
	<insert id="insertOrUpdate" parameterType="com.generalnetdisk.entity.po.UserInfo">
		INSERT INTO user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.nickName != null">
				nick_name,
			</if>
			<if test="bean.email != null">
				email,
			</if>
			<if test="bean.qqOpenId != null">
				qq_open_id,
			</if>
			<if test="bean.qqAvatar != null">
				qq_avatar,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.joinTime != null">
				join_time,
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.userSpace != null">
				user_space,
			</if>
			<if test="bean.totalSpace != null">
				total_space,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.nickName != null">
				#{bean.nickName},
			</if>
			<if test="bean.email != null">
				#{bean.email},
			</if>
			<if test="bean.qqOpenId != null">
				#{bean.qqOpenId},
			</if>
			<if test="bean.qqAvatar != null">
				#{bean.qqAvatar},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.joinTime != null">
				#{bean.joinTime},
			</if>
			<if test="bean.lastLoginTime != null">
				#{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.userSpace != null">
				#{bean.userSpace},
			</if>
			<if test="bean.totalSpace != null">
				#{bean.totalSpace},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.qqAvatar != null">
				qq_avatar = VALUES(qq_avatar),
			</if>
			<if test="bean.password != null">
				password = VALUES(password),
			</if>
			<if test="bean.joinTime != null">
				join_time = VALUES(join_time),
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = VALUES(last_login_time),
			</if>
			<if test="bean.status != null">
				status = VALUES(status),
			</if>
			<if test="bean.userSpace != null">
				user_space = VALUES(user_space),
			</if>
			<if test="bean.totalSpace != null">
				total_space = VALUES(total_space),
			</if>
		</trim>
	</insert>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="com.generalnetdisk.entity.po.UserInfo">
		INSERT INTO user_info(user_id,nick_name,email,qq_open_id,qq_avatar,password,join_time,last_login_time,status,user_space,total_space)values
		<foreach collection="list" item="item" separator="," >
			(#{item.userId},#{item.nickName},#{item.email},#{item.qqOpenId},#{item.qqAvatar},#{item.password},#{item.joinTime},#{item.lastLoginTime},#{item.status},#{item.userSpace},#{item.totalSpace})
		</foreach>
	</insert>

	<!-- 批量插入或更新(操作前需要把原数据取出，然后与新数据合并，否则会把原数据字段冲掉) -->
	<insert id="insertOrUpdateBatch" parameterType="com.generalnetdisk.entity.po.UserInfo">
		INSERT INTO user_info(user_id,nick_name,email,qq_open_id,qq_avatar,password,join_time,last_login_time,status,user_space,total_space)values
		<foreach collection="list" item="item" separator="," >
			(#{item.userId},#{item.nickName},#{item.email},#{item.qqOpenId},#{item.qqAvatar},#{item.password},#{item.joinTime},#{item.lastLoginTime},#{item.status},#{item.userSpace},#{item.totalSpace})
		</foreach>
		on DUPLICATE key update
		user_id = VALUES(user_id),
		nick_name = VALUES(nick_name),
		email = VALUES(email),
		qq_open_id = VALUES(qq_open_id),
		qq_avatar = VALUES(qq_avatar),
		password = VALUES(password),
		join_time = VALUES(join_time),
		last_login_time = VALUES(last_login_time),
		status = VALUES(status),
		user_space = VALUES(user_space),
		total_space = VALUES(total_space)
	</insert>

	<!-- 根据UserId查询 -->
	<select id="selectByUserId" resultMap="base_result_map">
		select
		<include refid="base_column_list"/>
		from user_info where user_id=#{userId}
	</select>

	<!-- 根据UserId更新 -->
	<update id="updateByUserId" parameterType="com.generalnetdisk.entity.po.UserInfo">
		UPDATE user_info
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.nickName != null">
				nick_name = #{bean.nickName},
			</if>
			<if test="bean.email != null">
				email = #{bean.email},
			</if>
			<if test="bean.qqOpenId != null">
				qq_open_id = #{bean.qqOpenId},
			</if>
			<if test="bean.qqAvatar != null">
				qq_avatar = #{bean.qqAvatar},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.joinTime != null">
				join_time = #{bean.joinTime},
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				status = #{bean.status},
			</if>
			<if test="bean.userSpace != null">
				user_space = #{bean.userSpace},
			</if>
			<if test="bean.totalSpace != null">
				total_space = #{bean.totalSpace},
			</if>
		</set>
	WHERE user_id=#{userId}
	</update>

	<!-- 根据UserId删除 -->
	<delete id="deleteByUserId">
		delete from user_info where user_id=#{userId}
	</delete>

	<!-- 根据Email查询 -->
	<select id="selectByEmail" resultMap="base_result_map">
		select
		<include refid="base_column_list"/>
		from user_info where email=#{email}
	</select>

	<!-- 根据Email更新 -->
	<update id="updateByEmail" parameterType="com.generalnetdisk.entity.po.UserInfo">
		UPDATE user_info
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.nickName != null">
				nick_name = #{bean.nickName},
			</if>
			<if test="bean.email != null">
				email = #{bean.email},
			</if>
			<if test="bean.qqOpenId != null">
				qq_open_id = #{bean.qqOpenId},
			</if>
			<if test="bean.qqAvatar != null">
				qq_avatar = #{bean.qqAvatar},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.joinTime != null">
				join_time = #{bean.joinTime},
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				status = #{bean.status},
			</if>
			<if test="bean.userSpace != null">
				user_space = #{bean.userSpace},
			</if>
			<if test="bean.totalSpace != null">
				total_space = #{bean.totalSpace},
			</if>
		</set>
	WHERE email=#{email}
	</update>

	<!-- 根据Email删除 -->
	<delete id="deleteByEmail">
		delete from user_info where email=#{email}
	</delete>

	<!-- 根据QqOpenId查询 -->
	<select id="selectByQqOpenId" resultMap="base_result_map">
		select
		<include refid="base_column_list"/>
		from user_info where qq_open_id=#{qqOpenId}
	</select>

	<!-- 根据QqOpenId更新 -->
	<update id="updateByQqOpenId" parameterType="com.generalnetdisk.entity.po.UserInfo">
		UPDATE user_info
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.nickName != null">
				nick_name = #{bean.nickName},
			</if>
			<if test="bean.email != null">
				email = #{bean.email},
			</if>
			<if test="bean.qqOpenId != null">
				qq_open_id = #{bean.qqOpenId},
			</if>
			<if test="bean.qqAvatar != null">
				qq_avatar = #{bean.qqAvatar},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.joinTime != null">
				join_time = #{bean.joinTime},
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				status = #{bean.status},
			</if>
			<if test="bean.userSpace != null">
				user_space = #{bean.userSpace},
			</if>
			<if test="bean.totalSpace != null">
				total_space = #{bean.totalSpace},
			</if>
		</set>
	WHERE qq_open_id=#{qqOpenId}
	</update>

	<!-- 根据QqOpenId删除 -->
	<delete id="deleteByQqOpenId">
		delete from user_info where qq_open_id=#{qqOpenId}
	</delete>

	<!-- 根据NickName查询 -->
	<select id="selectByNickName" resultMap="base_result_map">
		select
		<include refid="base_column_list"/>
		from user_info where nick_name=#{nickName}
	</select>

	<!-- 根据NickName更新 -->
	<update id="updateByNickName" parameterType="com.generalnetdisk.entity.po.UserInfo">
		UPDATE user_info
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.nickName != null">
				nick_name = #{bean.nickName},
			</if>
			<if test="bean.email != null">
				email = #{bean.email},
			</if>
			<if test="bean.qqOpenId != null">
				qq_open_id = #{bean.qqOpenId},
			</if>
			<if test="bean.qqAvatar != null">
				qq_avatar = #{bean.qqAvatar},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.joinTime != null">
				join_time = #{bean.joinTime},
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				status = #{bean.status},
			</if>
			<if test="bean.userSpace != null">
				user_space = #{bean.userSpace},
			</if>
			<if test="bean.totalSpace != null">
				total_space = #{bean.totalSpace},
			</if>
		</set>
	WHERE nick_name=#{nickName}
	</update>

	<!-- 根据NickName删除 -->
	<delete id="deleteByNickName">
		delete from user_info where nick_name=#{nickName}
	</delete>

</mapper>

